---
import Image from "astro/components/Image.astro";
import LogoQuick from "../../public/quick-logo.webp";
import ArrowDown from "../../public/resources/arrow-down.svg";
import proyectos from "../data/proyectos.json";
---
<nav
class="hidden sm:flex items-center justify-between px-12 py-3 sticky z-10 top-0 transition-all duration-300 navbar-transparent"
id="navbar"
>
<a href="/">
  <div class="logo">
    <Image
      loading="eager"
      src={LogoQuick}
      alt="Imagen Logo Quick Dev Solutions"
      class="img-svg max-w-20"
    />
  </div>
</a>
<ul class="flex gap-6 font-semibold uppercase text-white">
  <li class="lista-desplegable relative">
    <a href="/proyectos" class="flex gap-4">
      Proyectos realizados
      <Image loading="eager" src={ArrowDown} alt="Flecha para abajo" class="text-white" title="Arrow down"/>
    </a>
    <ul
      class="contenido-desplegable absolute bg-cyan-950 left-0 top-full opacity-0 invisible transition-opacity duration-300 ease-in-out"
    >
      {
        proyectos.map((proyecto) => (
          <a href={`/proyecto/${proyecto.id}`} title={proyecto.nombre} aria-label={proyecto.nombre}>
            <li>{proyecto.nombre}</li>
          </a>
        ))
      }
    </ul>
  </li>
  <li>
    <a href="/servicios">¿Qué ofrecemos?</a>
  </li>
  <li>
    <a href="/about"> Sobre nosotros </a>
  </li>
  <li>
    <a href="/contacto">
      Contacto
    </a>
  </li>
</ul>
</nav>

<style>
  .navbar-transparent {
    background-color: transparent;
    backdrop-filter: blur(10px);
  }

  .navbar-black {
    @apply bg-slate-900;
  }

  .lista-desplegable {
    position: relative;
  }

  .contenido-desplegable {
    height: auto;
    overflow: hidden;
    border-radius: 4px;
    padding: 0.5rem;
    width: max-content;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }

  /* Mostrar al hacer hover */
  .lista-desplegable:hover .contenido-desplegable {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  ul li {
    transition: color 0.3s ease;
  }

  ul li:hover:not(.lista-desplegable) {
    @apply underline;
  }
</style>

<script is:inline>
  function updateNavbarStyle() {
    const navbar = document.querySelector("#navbar");
    // Verificar la ubicación actual
    if (window.location.pathname !== "/") {
      navbar.classList.add("navbar-black");
    } else {
      navbar.classList.remove("navbar-black");
    }
  }

  // Al cargar la página
  document.addEventListener("DOMContentLoaded", updateNavbarStyle);

  // Al navegar con el historial (hacia atrás o hacia adelante)
  window.onpopstate = function () {
    updateNavbarStyle();
  };

  // Observador de cambios en el history
  const originalPushState = history.pushState;
  history.pushState = function (state) {
    originalPushState.apply(history, arguments);
    updateNavbarStyle();
  };
  const originalReplaceState = history.replaceState;
  history.replaceState = function (state) {
    originalReplaceState.apply(history, arguments);
    updateNavbarStyle();
  };
</script>